[Unit]
Description=KWH Boot Service
After=kwh_boot_delay.service

[Service]
Type=simple
User=pi
WorkingDirectory=/kwh
ExecStart=/kwh/boot/boot_step_2.sh
Restart=on-abort

[Install]
WantedBy=simserver.service
