[Unit]
Description=simServer.py service
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/kwh
ExecStart=/kwh/transceive/sim_server.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
