[Unit]
Description=sim_server.py service
After=kwhboot.service

[Service]
Type=simple
User=pi
WorkingDirectory=/kwh
ExecStart=/kwh/transceive/sim_server.py
Restart=on-abort

[Install]
WantedBy=kwh_start_TX.service
