[Unit]
Description=KWH Start TX Service
After=simserver.service

[Service]
Type=simple
User=pi
WorkingDirectory=/kwh
ExecStart=/kwh/boot/start_TX.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
