#ignore all log files
*.log

#ignore adc values
**/adc/AD*

#ignore pulse values
**/pulse/PU*

#ignore signal value
**/signal/*

#ignore modbus values
**/modbus/*

#ignore temperature values
**/temperature/*

#ignore time values
**/datetime/datetime
**/datetime/nisttime
