#ignore all log files
*.log

#ignore transmit string
**/tcp/tstring

#ignore adc values
**/adc/AD*

#ignore pulse values
**/pulse/PU01
**/pulse/PU02
**/pulse/PU03
**/pulse/PU04
**/pulse/PU05
**/pulse/PU06
**/pulse/PU07
**/pulse/PU08

#ignore signal value
**/signal/signal

#ignore modbus values
**/modbus/values/*

#ignore temperature values
**/temperature/2*

#ignore time values
**/datetime/datetime
**/datetime/nisttime
