[Unit]
Description=getTime.sh service
After=sysinit.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/KWH
ExecStart=/KWH/datalogger/boot/stopTXandSetTime.sh

[Install]
WantedBy=multi-user.target
