[Unit]
Description=modbusServer.py service
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/KWH
ExecStart=/KWH/datalogger/modbus/modbusServer.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
