[Unit]
Description=simServer.py service
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/KWH
ExecStart=sudo /KWH/datalogger/lib/pigpiod
Restart=on-abort

[Install]
WantedBy=multi-user.target
