[Unit]
Description=pigpiod service
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/usr
ExecStart=sudo /usr/local/pigpio/util/pigpiod start
Restart=on-abort

[Install]
WantedBy=multi-user.target
