[Unit]
Description=pigpiod service
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/KWH
ExecStart=sudo /KWH/datalogger/lib/pigpio/util/pigpiod start
Restart=on-abort

[Install]
WantedBy=multi-user.target
