[Unit]
Description=transmit.sh service
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/KWH
ExecStart=/KWH/datalogger/boot/cronstart.sh
Restart=on-aborty

[Install]
WantedBy=multi-user.target
