[Unit]
Description=KiloWatts for Humanity Data Logger Service
After=syslog.target

[Service]
EnvironmentFile=/datalogger/conf/datalogger.conf
PIDFile=/var/run/datalogger.pid
# Note the -f: don't fail if there is no PID file
ExecStartPre=/bin/rm -f /var/run/datalogger.pid
ExecStart=/datalogger/dcrond.sh > /datalogger/dcrond.log 2>&1
Restart=on-abort

[Install]
WantedBy=multi-user.target
